<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Patients</title>
</head>
<body>
    <h1>Manage Patients</h1>
    
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Social Security Number</th>
            <th>Date of Birth</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.name }}</td>
            <td>{{ patient.last_name }}</td>
            <td>{{ patient.email }}</td>
            <td>{{ patient.ssn }}</td>
            <td>{{ patient.dob }}</td>
            <td>{{ patient.username }}</td>
            <td>
                
                <form action="/admin/patients/delete/{{ patient._id }}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <hr>

    
    <button onclick="window.location.href='/admin'">Back to Admin Home</button>

    
</body>
</html>
