<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Up Appointment</title>
</head>
<body>
    <h1>Set Up Appointment</h1>
    <form action="/patient/appointments/available-doctors" method="post">
        <label for="specialization">Doctor's Specialization:</label>
        <select name="specialization" id="specialization" required>
            <option value="Cardiologist">Cardiologist</option>
            <option value="Radiologist">Radiologist</option>
            <option value="Allergist">Allergist</option>
            <option value="Hematologist">Hematologist</option>
            <option value="Pathologist">Pathologist</option>
        </select><br>

        <label for="date">Date:</label>
        <input type="date" name="date" id="date" required><br>

        <label for="time">Time:</label>
        <select name="time" id="time" required>
            {% for hour in range(9, 17) %}
            <option value="{{ hour }}:00">{{ hour }}:00</option>
            {% endfor %}
        </select><br>

        <button type="submit">Find Available Doctors</button>
    </form>
    <a href="/patient"><button>Back</button></a>
</body>
</html>
